<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de donnée des clients</title>
  </head>
  <body>
    <h1>Liste des clients de <%= user.nom %> :</h1>
    <ul>
      <% for(let client of clients) { %>
      <li>
        <a href="/clients/<%= user._id %>/<%= client._id %>"
          ><%= client.nom %></a
        >
      </li>
      <% } %>
    </ul>
    <a href="/clients/<%= user._id %>/new">Ajouter un client</a>
  </body>
</html>
